<div class="sidebar-content">
    <div class="sidebar-header">
        <h2 class="sidebar-title">Menu</h2>
        <button class="close-sidebar" id="close-sidebar" aria-label="Close menu">×</button>
    </div>
    <section class="sidebar-section">
        <div class="bio">
            <img class="bio-image" src="/public/images/lukeleh.jpeg" alt="Luke Leh" />
            <div class="bio-summary">
                <div class="bio-name">Luke Leh</div>
                <div class="bio-edu">B.A. Computer Science, Cornell University</div>
                <div class="bio-location">Ithaca, NY</div>
                <div class="bio-contact"><a href="tel:+16073420714">+1 607 342 0714</a></div>
                <div class="bio-email"><a href="mailto:ll594@cornell.edu">ll594@cornell.edu</a></div>
            </div>
            <p>
                <br />
                My background spans software development at Malaysia’s national energy company, PETRONAS, and nonprofit
                tech initiatives, alongside independent projects in game development where I’ve worn hats as an
                organizer, developer, and designer.
                <br />
                <br />
                Growing up in multicultural Malaysia gave me an early perspective on how technology doesn’t just serve
                as a tool, but as a medium that shapes culture and connection. That perspective informs my interest in
                building the infrastructure that supports collaboration and creation. I aspire to work on interactive
                systems (at the intersection of HCI, graphics and distributed systems), where engineering choices
                directly shape how people play, connect, and create.
                <br />
                <br />
                In my free time, I love playing Dungeons and Dragons, writing, and tinkering with tech.
            </p>
        </div>
    </section>
    <section class="sidebar-section" style="padding-top: 4px;">
        <h3>Experience</h3>
        <ul style="margin-top: 4px; line-height: 1.2;">
            <li>PETRONAS Digital - Software Engineer (2024-2025)</li>
            <li>Cornell Ann S. Bowers School of Computing and Information Sciences - Teaching Assistant (2025)</li>
            <li>Cornell Development in Games - Engineering Chair, UX Lead (2023-2025)</li>
            <li>Environmental Data Governance Initiative - Fullstack Engineer (2023-2024)</li>
        </ul>
    </section>
    <section class="sidebar-section">
        <h3>Contact</h3>
        <div class="sidebar-buttons">
            <a class="btn" href="https://www.linkedin.com/in/lukeleh/" target="_blank" rel="noopener">LinkedIn</a>
            <a class="btn" href="https://github.com/leukwnl" target="_blank" rel="noopener">GitHub</a>
            <a class="btn" href="mailto:ll594@cornell.edu">Email</a>
            <a class="btn" href="/public/resume_lukewnl.pdf" target="_blank" rel="noopener">Resume</a>
        </div>
    </section>
</div>